<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>top10</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-subtitle>Visited November 2017</ion-card-subtitle>
 <div style="display: flex; justify-content: center;">
    <ion-card-title>CYPRUS </ion-card-title>
    </div>
   <div style="display: flex; justify-content: center;"> 
     <img src="https://www.countryflags.io/cy/shiny/64.png" class="flag" async>
  </div>
 <div style="display: flex; justify-content: center;"> 
 <img src="assets/Nissi.webp"/>
   </div>
   </ion-card>


  <ion-card>
   <ion-card-subtitle>Visiting this beautiful country for the 5th. time</ion-card-subtitle>
    <ion-card-title>VIETNAM </ion-card-title>
   <div style="display: flex; justify-content: center;">  
 <img src="https://www.countryflags.io/vn/shiny/64.png" class="flag" async>
 </div>
 <div style="display: flex; justify-content: center;"> 
    <img src="assets/Furama2.webp"/>
  </div>
  </ion-card>

<ion-card>
  <ion-card-subtitle>Visited in 1994 for 3 months</ion-card-subtitle>
 <div style="display: flex; justify-content: center;">
    <ion-card-title>AUSTRALIA </ion-card-title>
    </div>
   <div style="display: flex; justify-content: center;"> 
     <img src="https://www.countryflags.io/au/shiny/64.png" class="flag" async>
  </div>
 <div style="display: flex; justify-content: center;"> 
 <img src="assets/ayersRock.webp"/>
   </div>
   </ion-card>

   <ion-card>
  <ion-card-subtitle>Amazing scenery</ion-card-subtitle>
 <div style="display: flex; justify-content: center;">
    <ion-card-title>SWITZERLAND </ion-card-title>
    </div>
   <div style="display: flex; justify-content: center;"> 
     <img src="https://www.countryflags.io/ch/shiny/64.png" class="flag" async>
  </div>
 <div style="display: flex; justify-content: center;"> 
 <img src="assets/mountains.webp"/>
   </div>
   </ion-card>


  <ion-card>
   <ion-card-subtitle>Visited more than 10 times</ion-card-subtitle>
    <div style="display: flex; justify-content: center;">
    <ion-card-title>SPAIN</ion-card-title>
    </div>
   <div style="display: flex; justify-content: center;">  
 <img src="https://www.countryflags.io/es/shiny/64.png" class="flag" async>
 </div>
  <div style="display: flex; justify-content: center;">
    <img src="assets/meMallorca.webp"/>
 </div>
  </ion-card>

  <ion-card>
  <ion-card-subtitle>22 stamps in my passport</ion-card-subtitle>
   <div style="display: flex; justify-content: center;">
    <ion-card-title>UKRAINE </ion-card-title>
    </div>
      <div style="display: flex; justify-content: center;">  
      <img src="https://www.countryflags.io/ua/shiny/64.png" class="flag"async>
      </div>
       <div style="display: flex; justify-content: center;">
    <img src="assets/ua.webp"/>
    </div>
  </ion-card>

  <ion-card>
  <ion-card-subtitle>Visited in 2012</ion-card-subtitle>
  <div style="display: flex; justify-content: center;">
    <ion-card-title>PANAMA </ion-card-title>
    </div>
      <div style="display: flex; justify-content: center;">  
      <img src="https://www.countryflags.io/pa/shiny/64.png" class="flag" async>
   </div>
   <div style="display: flex; justify-content: center;">
    <img src="assets/PanamaCity.webp"/>
   </div>
  </ion-card>

   <ion-card>
    
  <ion-card-subtitle>I have been living here for almost 6 years</ion-card-subtitle>
    <div style="display: flex; justify-content: center;">
    <ion-card-title>UNITED KINGDOM </ion-card-title>
    </div>
      <div style="display: flex; justify-content: center;">  
      <img src="https://www.countryflags.io/gb/shiny/64.png" class="flag" async>
   </div>
   <div style="display: flex; justify-content: center;">
    <img src="assets/thames.webp"/>
    </div>
  </ion-card>


 <ion-card>
    
  <ion-card-subtitle>Better than China</ion-card-subtitle>
    <div style="display: flex; justify-content: center;">
    <ion-card-title>TAIWAN</ion-card-title>
    </div>
      <div style="display: flex; justify-content: center;">  
      <img src="https://www.countryflags.io/tw/shiny/64.png" class="flag" async>
   </div>
   <div style="display: flex; justify-content: center;">
    <img src="assets/taiwan.webp"/>
    </div>
  </ion-card>

   <ion-card>
    
  <ion-card-subtitle>Spent more than 6 months there</ion-card-subtitle>
    <div style="display: flex; justify-content: center;">
    <ion-card-title>GREECE</ion-card-title>
    </div>
      <div style="display: flex; justify-content: center;">  
      <img src="https://www.countryflags.io/gr/shiny/64.png" class="flag"async>
   </div>
   <div style="display: flex; justify-content: center;">
    <img src="assets/santorini.webp"/>
    </div>
  </ion-card>


<div class ="me"style="display: flex; justify-content: center;">  
<div>
<img class= "avatar" src="assets/HelmarLogo.png" alt="Helmar Baechle">
</div>
</div>


 
 </ion-content>

