
iframe {
    border-radius: 22%; 
    padding: 30px;
    margin: 20px;
}

body {
    color: yellow;
}

.ion-content {
   background-color: gray;
}

.jump {
    border-radius: 25%; 
    padding: 10px;
    margin: 20px;
    width: 150px;
    height: 100px;
}

ion-footer {
    color: blue;
}

.avatar {
    float: center;
    width: 60px;
    height:50px;
    border-radius: 60%;
    align-content: left;
    margin: 10px;
    position: relative;
  }

  p {
      color: darkslategray;
      font-size: 0.81rem;
      padding: 10px;
      font-size: 0.91rem;
  }

  img {
      padding: 4px;
      margin: 5px;
  }

