<ion-header>
 
 <ion-toolbar>
 
   <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/places"></ion-back-button>
    </ion-buttons>
    <ion-title>video</ion-title>
     
  </ion-toolbar>
</ion-header>

 <img src="assets/island.webp" />

<div style="display: flex; justify-content: center;">
<p class="animated slideInLeft delay-2s">  I am Creator, Producer, Developer and everything that comes with video, photography and Web Development </p>
</div>
<ion-content>

<div style="display: flex; justify-content: center;">  
<iframe width="560" height="315" src="https://www.youtube.com/embed/XK0JLOgurzM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="display: flex; justify-content: center;">  
<iframe width="560" height="315" src="https://www.youtube.com/embed/5kZnb6wJFK8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="display: flex; justify-content: center;">  
<iframe width="560" height="315" src="https://www.youtube.com/embed/qCGMoxlKJbA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="display: flex; justify-content: center;">  
<iframe width="560" height="315" src="https://www.youtube.com/embed/I-iCP-x30r4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="display: flex; justify-content: center;">  
<iframe width="560" height="315" src="https://www.youtube.com/embed/NWVwbm_iQbk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="display: flex; justify-content: center;">  
<iframe width="560" height="315" src="https://www.youtube.com/embed/M8uo5_e4PBM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="display: flex; justify-content: center;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/OfdQ16mpoLE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>


<div style="display: flex; justify-content: center;">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/qrsjusdZT34" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>

<div style="display: flex; justify-content: center;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/d_SXk80KSsM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="display: flex; justify-content: center;">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/cnXmhYlKGFg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>

 

</ion-content>