<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/top10"></ion-back-button>
    </ion-buttons>
    <ion-title>places</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content>

<div #Map class="map"></div>


  
<ion-card>
 <div class="card-title">Vung Tau</div>
  <div class="card-subtitle">Vietnam</div>
    <img class="rectangle" src="assets/palms.webp"/>
    <p> lovely seaside town not far from Ho Chi Minh City</p>  
      </ion-card>


 <ion-card>
  <div class="card-title">Athens</div>
    <div class="card-subtitle">Greece</div>
    <div style="display: flex; justify-content: center;">  
    <img  class="rectangle" src="assets/nalu.webp"/>
    </div>
     <p> lot's of sunshine, excellent food and beautiful beaches </p>
  </ion-card>

<ion-card>
 <div class="card-title">Larnaca</div>
  <div class="card-subtitle">Cyprus</div>
    <img class="rectangle" src="assets/Larnaca.webp"/>
     <p>the gateway to the largest island in the mediterranean sea</p>  
 </ion-card>


 <ion-card>
 <div class="card-title">Kiev</div>
  <div class="card-subtitle">Ukraine</div>
   <div style="display: flex; justify-content: center;">   
    <img class="rectangle" src="assets/ukraina.webp"/>
    </div>
<p> full of history, tasty food and pretty girls</p>  
</ion-card>


  <ion-card>
    <div class="card-title">Mui Ne </div>
    <div class="card-subtitle">Vietnam </div>
    <div style="display: flex; justify-content: center;">   
    <img class="rectangle" src="assets/muine.webp"/>
    </div>
    <p> coastal paradise 4 hours drive from Ho Chi Minh City</p>

  </ion-card>


  <ion-card>
   <div class="card-title">Belfast</div>
    <div class="card-subtitle">UK</div>
     <div style="display: flex; justify-content: center;">   
    <img  class="rectangle" src="assets/Belfast.webp"/>
</div>
      <p> The capital of Northern Ireland</p>
   
  </ion-card>

  <ion-card>
  <div class="card-title">Bui Vien Street</div>
    <div class="card-subtitle">Ho Chi Minh City</div>
    <div style="display: flex; justify-content: center;">  
    <img  class="rectangle" src="assets/BuiVien.webp"/>
    </div>
  <p> where locals and tourists meet</p>
  </ion-card>


  

  
  <ion-card>
  <div class="card-title">Dubai</div>
    <div class="card-subtitle">United Arab Emirates </div>
    <div style="display: flex; justify-content: center;">  
    <img class="rectangle" src="assets/Dubai.webp"/>
    </div>
    <p> the heart of the middle east</p>
  </ion-card>

   <ion-card>
  <div class="card-title">SHARM EL SHEIK</div>
    <div class="card-subtitle">Egypt </div>
    <div style="display: flex; justify-content: center;">  
    <img class="rectangle" src="assets/sharmelsheik.webp"/>
    </div>
    <p> affordable travel destination at the red sea</p>
  </ion-card>

  <ion-card>
   <div class="card-title">Odessa</div>
    <div class="card-subtitle">Ukraine </div>
   <div style="display: flex; justify-content: center;">  
    <img class="rectangle" src="assets/Odessa.webp"/>
   </div>
    <p>popular travel destination at the black sea</p>
  </ion-card>

 

  <ion-card>
   <div class="card-title">London</div>
    <div class="card-subtitle">United Kingdom </div>
   <div style="display: flex; justify-content: center;">  
    <img  class="rectangle" src="assets/LondonEye.webp"/>
   </div>
   <p> the place to be </p>
  </ion-card>

  <ion-card>
   <div class="card-title">Bournemouth</div>
    <div class="card-subtitle">England </div>
   <div style="display: flex; justify-content: center;">  
    <img  class="rectangle" src="assets/Bournemouth.webp"/>
   </div>
    <p> most beautiful beach in the United Kingdom </p>
  </ion-card>

   <ion-card>
   <div class="card-title">NISSI BEACH</div>
    <div class="card-subtitle">Cyprus </div>
   <div style="display: flex; justify-content: center;">  
    <img  class="rectangle" src="assets/NissiBeach1.webp"/>
   </div>
    <p> rated as the best beach in Europe </p>
  </ion-card>


   <ion-card>
   <div class="card-title">MOSCOW</div>
    <div class="card-subtitle">Russia </div>
   <div style="display: flex; justify-content: center;">  
    <img  class="rectangle" src="assets/moscow.webp"/>
   </div>
    <p>the largest city in Europe</p>
  </ion-card>

   <ion-card>
   <div class="card-title">Ein Bokek</div>
    <div class="card-subtitle">Israel</div>
   <div style="display: flex; justify-content: center;">  
    <img  class="rectangle" src="assets/einBokek.webp"/>
   </div>
    <p>reading newspaper on the dead sea is incredibly cool</p>
  </ion-card>

   <ion-card>
   <div class="card-title">LAKE CONSTANCE</div>
    <div class="card-subtitle">Germany </div>
   <div style="display: flex; justify-content: center;">  
    <img  class="rectangle" src="assets/lakeConstance.webp"/>
   </div>
    <p>the largest lake in Germany</p>
  </ion-card>






  








