<ion-header>
  <ion-toolbar color="secondary">
  <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>London</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

 <img src="assets/picadilly.jpg" alt="HelmarBachle" class="rectangle">      

<div style="display: flex; justify-content: center;"> 
<h3 class="animated  flipInX delay-2s">It is the world’s most-visited city before New York, Paris and Bangkog. The London Underground is the oldest underground railway network in the world.
The capital of the UK is Europe’s fastest-growing technology cluster, with 3,000 companies concentrated in the East End.
The city is a major international centre for fashion, art and theatre, and can easily compete with Paris and Milan.
The source of London’s power isn’t purely financial. “It’s also about where people want to live. A lot of businessmen don’t like Frankfurt. They much prefer London for its cultural offering.
If you speak to any teenager in Europe and ask where they want to live they say London. It has this great energy. People from all over the world gravitate here like they do to New York.If you can afford it, the city is a congenial place to shop with interesting people and plenty to do in the evening.
There’s Wimbledon, the Royal Opera House, Premier League football, Soho, the Tate Modern and the British Museum. Most of the Museums offer free entrance.
And indeed it isn’t just the super-rich who are attracted to the city. People of all backgrounds from around the world flock to London in search of a better life and a good job.
With London’s population growing by about 100,000 annually,there is a big demand in building new houses.</h3>

</div>

 <ion-footer>
  <ion-toolbar color="primary">
   <ion-tab-button href="https://uspekhi.web.app/home" target="blank" >
     <img  src="assets/LogoUspekhi.png" alt="HelmarBaechle" class="square" >
    
   </ion-tab-button>
 
 
  </ion-toolbar>
</ion-footer>


</ion-content>
