
h3 {
    margin: 2px;
    padding: 10px;
    font-family: sans-serif;
    color:gray
}

ion-footer {
    color: medium;
}

.ion-toolbar {
    color: medium;
}

ion-title {
    color: whitesmoke;
    float: center;
   font-size: 0.7rem;
    position: relative;
}

ion-tab-button {
    height: 8px;
    width:10px;
}

img {
    padding: 10px;
    margin: 0px;
}