


<ion-content>

 <ion-card>
  <ion-card-header>
  
    <ion-card-subtitle>Get in touch</ion-card-subtitle>
    <ion-card-title>Contact details</ion-card-title>
      <ion-item color="tertiary" class="activated">
    
   <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
   

  </ion-item >
  </ion-card-header>

<div style="display: flex; justify-content: left;"> 
    <img src="assets/me.jpg" alt="HelmarBachle" class="avatar">
  </div>

  <ion-item color="success" href="tel:+44 7502907467" target="blank">
    <ion-icon name="logo-whatsapp" slot="start" alt="whatsapp"></ion-icon>
    <ion-label>+44 7502907467
</ion-label>
  </ion-item>

   <ion-item color="tertiary" href="tel:+84 365852712" target="blank">
    <ion-icon name="person" slot="start" alt="whatsapp"></ion-icon>
    <ion-label>+84 365852712
</ion-label>
  </ion-item>

  <ion-item color="secondary" href=mailto:uspekhiwebdesign@gmail.com target="blank">
    <ion-icon name="mail" slot="start" alt="email"></ion-icon>
    <ion-label>uspekhiwebdesign@gmail.com
</ion-label>
  </ion-item>

  <ion-item color="primary" href="https://www.facebook.com/helmar.baechle" target="blank">
    <ion-icon name="logo-facebook" slot="start" alt="email"></ion-icon>
    <ion-label>Facebook
</ion-label>
  </ion-item>

   <ion-item color="danger" href="https://www.instagram.com/helmar.baechle/" target="blank">
    <ion-icon name="logo-instagram" slot="start" alt="instagram"></ion-icon>
    <ion-label>Instagram
</ion-label>
  </ion-item>

  <ion-item color="medium" href="https://github.com/helmar81" target="blank">
    <ion-icon name="logo-github" slot="start" alt="github"></ion-icon>
    <ion-label>Github
</ion-label>
  </ion-item>


 <h3 >Trading stocks, forex and indices is my passion </h3>


<div style="display: flex; justify-content: center;">  
<a  href="https://www.plus500.co.uk/?id=119825&pl=2" title="+"><img src="https://cdn.plus500.com/Media/Banners/200x200/35505.gif?set=0_commissions_new&language=EN&country=GB" target ="blank" width="200" height="200" border="0" alt="trade stocks" /></a>
</div>
  



</ion-card>

</ion-content>