<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="top10">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Top10</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="places">
      <ion-icon name="locate"></ion-icon>
      <ion-label>Places</ion-label>
    </ion-tab-button>

<ion-tab-button tab="video">
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-label>Video</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="countries">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Countries</ion-label>
    </ion-tab-button>



  </ion-tab-bar>

   
</ion-tabs>