<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Travel</ion-title>
  </ion-toolbar>
</ion-header>

 <h5>  <ion-icon name="logo-whatsapp" slot="start" alt="date"></ion-icon> {{ today | date: 'fullDate' }}</h5>

<ion-content>

<div style="display: flex; justify-content: center;">  
<h3 class="animated  zoomInUp delay-2s">Where have you been  </h3>
</div>

<div style="display: flex; justify-content: center;">  
  <img class="rectangle" src="assets/IamOff.webp" alt="Helmar Baechle">
</div>


<h4>
I was lucky to live in <a class="uk"href="london">LONDON</a>, the hotspot on the planet. There are six airports (Heathrow, Gatwick, Stansted, Luton, City Airport and South End on the Sea) and you can travel to almost every destination in the world.
How great is it to travel? To meet new people, see new places, experience different cultures, live life the way life is lived somewhere else. Plenty of good things are associated with travel.
I hope to inspire other people to plunge and travel the world.
</h4>

 <div style="display: flex; justify-content: center;">
 <h1> COVID-19</h1>
<h2>
THE PANDEMIC HAS CHANGED THE WORLD
</h2>
</div>

<ion-item color="primary">
We sleep in one world and wake up in another. Suddenly Disney no longer has the magic, Paris is no longer romantic
and no one can visit Rome anymore. In New York the streets are empty and the chinese wall is not a fortress.
Hugs and kisses become weapons and not visiting your friends and family becomes and act of love.

 </ion-item>

 <ion-item color="primary">
The way public life has changed in the wake of the coronvirus pandemic may feel new and frightening to many.
But the older among us have lived through similar times and similar fears.
There is one thing we know that may bring solace. There will be an end to this pandemic and if we take advantage
of the most promisinng drug options avialable today, the end may come sooner than most think.
</ion-item>

<h2>
I am lucky to be in Vietnam at this moment
</h2>
<ion-item color="primary">
The way Vietnam handled the pandemic is amazing.
As the coronavirus pandemic rages in wealthy European countries, more than 10,000 kilometers (6,000 miles) from China where the outbreak began, Vietnam has widely been spared.

In Germany alone, the latest numbers from the World Health Organization (WHO) show more than 30,000 people have been infected with COVID-19, resulting in 149 fatalities. Vietnam, which shares a 1,100-kilometer-long border with China, however, has only reported 134 infections and no fatalities since the outbreak began in January.

Even if we consider these numbers with a dose of caution, one thing is clear: Vietnam has a done a good job thus far in fighting the coronavirus.

During the Tet New Year celebrations at the end of January, Vietnam’s government said it was “declaring war” on the coronavirus, although the outbreak at that time was still confined to China. Premier Nguyen Xuan Phuc said during a meeting of Vietnam’s ruling Communist Party that it would not be long before the coronavirus reached the country. “Fighting this epidemic, means fighting the enemy,” said Phuc.
</ion-item>


 <div style="display: flex; justify-content: center;">

   <h6>  watch again</h6>
      </div>
      <div style="display: flex; justify-content: center;"> 
<ion-button fill="outline" href="/discover"slot="start">INTRO</ion-button>
 </div>

 <ion-item  href="/tabs/top10" color="info">
On the following pages you can see my Top10 countries, places I have visited and highly recommend for a journey.  I have also embedded a bunch of videos, that can be viewed with one click,
furthermore I have implemented a drag and drop component with all the country flags on the countries page. The PWA (Progressive Web App), created with Ionic on top of Angular, is mobile first and responsive on all devices.
You can add the App to your homescreen and it has all the features of a native App
 </ion-item>

 <div style="display: flex; justify-content: center;"> 
<ion-button fill="outline" href="/contact"slot="start">CONTACT</ion-button>
 </div>
     
 



 



 
 
 <ion-footer>
  <ion-toolbar color="medium">
   <div style="display: flex; justify-content: center;">  
  
  <ion-buttons slot="end">
       <ion-button href="tel:+44 7502907467">
        <ion-icon slot="icon-only" name="logo-whatsapp" alt="whatsapp"></ion-icon>
      </ion-button>
  <ion-button href="https://www.facebook.com/helmar.baechle" target="blank" rel="noopener" >
        <ion-icon slot="icon-only" name="logo-facebook" alt="facebook"></ion-icon>
      </ion-button>
      <ion-button href="https://www.instagram.com/helmar.baechle/" target="blank" rel="noopener">
        <ion-icon slot="icon-only" name="logo-instagram" alt="instagram"></ion-icon>
      </ion-button>
       <ion-button href="https://www.pinterest.co.uk/helmar81/" target="blank" rel="noopener">
        <ion-icon slot="icon-only" name="logo-pinterest" alt="pinterest"></ion-icon>
      </ion-button>
 <ion-button href=mailto:uspekhiwebdesign@gmail.com >
        <ion-icon slot="icon-only" name="mail" alt="email"></ion-icon>
        </ion-button>
      </ion-buttons>
      </div>

      <div style="display: flex; justify-content: center;">   
<div class="fb-share-button" data-href="https://mytopcountries.web.app/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmytopcountries.web.app%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
</div>
 <h5> Created by</h5>

  <ion-tab-button class="logo"  href="https://uspekhi.web.app/home" target="blank" rel="noopener" >
      <img src="assets/LogoUspekhi.png" alt="HelmarBaechle" class="square"  target="_blank">
      </ion-tab-button>
     
      

<div style="display: flex; justify-content: center;">  
 <h3 alt="HelmarBaechle">Copyright©Helmar2020 </h3>
 </div>
  </ion-toolbar>
</ion-footer>


  


  

  

 














